.kcgis_ul_maptablelinks {
	margin-bottom:3px;
	font-size: 9pt;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	background-image: none;
	margin-left: 0px;
	padding-left: 24px;
	list-style-image: none;
}
.kcgis_p_3col_indent {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 9pt;
	margin-left: 6px;
}
td.kcgis_td_maptablecategory {
	background-color: #dae5f2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6991bf;
	padding-top: 6px;
}
td.kcgis_td_maptablecell {
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DAE5F2;
}
td.kcgis_td_maptablecell_top {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9BACBF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #EAF2FB;
	border-right-color: #9BACBF;
	border-left-color: #EAF2FB;
	vertical-align: top;
}
.kcgis_p_3col_1 {
	margin-top: 6px;
	font-size: 9pt;
	font-weight: bold;
}
.kcgis_p_3col_2 {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 9pt;
	margin-left: 12px;
}
.kcgis_p_3col_1-1 {
	margin-top: 0px;
	font-size: 9pt;
	font-weight: bold;
}
/* KCGIS style sheet  */

/**************************************************************************************/
/* General overrides  */
hr.kcgis_hr
{
    height:1px;
    color:Maroon;
}


/**************************************************************************************/
/* Header styles */

.kcgis_h1  {
	margin-top:20px;
	margin-bottom:-12px;
}

.kcgis_h2    {
	margin-top:20px;
	margin-bottom:-12px;
}

.kcgis_h3  {
	margin-top:20px;
	margin-bottom:-12px;
}

.kcgis_h4 
{
	margin-top:20px;
	margin-bottom:-12px;
}


/*************************************************************************************/

/* List styles */

/*Use this as a wrapping span class a la home page  */
.kcgis_list_toppage ul li {
	list-style-type: none;  /* no bullet */
	margin-left:-24px;
	margin-bottom:0px;
}

.kcgis_ul_bottommarg6 li
{
margin-bottom:6px;
}

/*************************************************************************************/

/* Paragraph styles  */

.kcgis_p_padleft12
{
	padding-left:12px;
}


.kcgis_p_padleft24
{
	padding-left:24px;
}

.kcgis_p_indent
{
	text-indent:24px;
}

.kcgis_p_padindent
{
	text-indent:24px;
	padding-left:12px;
}	

.kcgis_p_nobottommargin
{
	margin-bottom:-12px
}

/*************************************************************************************/
/* Font styles */

/* kcAgencies.css handles .small (.70em) and .medium (.85em)  */

.kcgis_font_large {
	font-size: 1.20em;
	}

.kcgis_font_xlarge {
	font-size: 1.40em;
	}

.kcgis_text_red {
	color:red;
	}

.kcgis_text_green {
	color:#008000;
	}
	
.kcgis_text_maroon {
	color:Maroon;
	}
	
.kcgis_text_black {
	color:Black;
	}	

/*************************************************************************************/
/* Table styles */

/* table with a navy border */
.kcgis_table_blue
{
   border-collapse:collapse;
}
.kcgis_table_blue td
{
    border:solid 1px #336699;
    vertical-align:top;
    padding-left:4px;
	padding-right:4px;
}
.kcgis_table_blue th
{
	font-family:Arial;
	background:#90bade;
	color:#000000; /*#336699; */
	text-align:center;
	padding-left: 8px;
	padding-right:8px;
	padding-bottom:3px;
	padding-top:3px;
	border-bottom:solid 1px #336699;
	vertical-align: top;
	font-weight:bold;
}
.kcgis_table_blue th a
{
	color:#333399; 
} 
.kcgis_table_blue th a:hover
{
	color:#f0f8ff; 
}


/* table with a maroon border */
.kcgis_table_maroon
{
   border-collapse:collapse;
}
.kcgis_table_maroon td
{
    border:solid 1px maroon;
    vertical-align:top;
    padding-left:4px;
	padding-right:4px;
}
.kcgis_table_maroon th
{
	background:#993333;     /*this is 80% of maroon (which is #800000) */
	color:#FFFFFF;
	text-align:center;
	padding-left: 8px;
	padding-right:8px;
	padding-bottom:4px;
	padding-top:4px;
	border-bottom:solid 1px maroon;
	vertical-align: top;
	font-weight:bold;
}
.kcgis_table_maroon th a
{
	color:#FFFFFF; 
}

/* thick maroon top/bottom border
	for single-cell tables that contain "link/PDF to the brochure for this page" a la ClientServices/GISExpress */
td.kcgis_td_doc
{
    border-bottom:solid 2px maroon;
    border-top:solid 2px maroon;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:2px;
    padding-top:2px;
    height:40px;
    vertical-align:middle;
}

/* thin navy top/bottom border, light blue background color
	for table cells that are used as a header or category break a la Maps/CensusViewer/CV_Glossary */
td.kcgis_td_blue
{	
	border-bottom:solid 1px #003366;
	border-top:solid 1px #003366;
	border-right-width:0px;
	border-left-width:0px;
	background-color:#f0f8ff;
	padding-left:4px;
    padding-right:4px;
    padding-bottom:2px;
    padding-top:2px;
}

/* ruling lines */

hr.kcgis_hr_lightblue {
	height:1px;
	color:#C2D9F3;
}
hr.kcgis_hr_darkblue {
	height:1px;
	color:#366FAF;
}
